<html>
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="assets/login.css">
    <link rel="stylesheet" type="text/css" href="assets/general.css">
</head>
<body>
<h1 class="titulosPantallasSinLayout">Iniciar Sesion</h1>

{{#if error}}
<div class="popup">
    <div class="popup-content">
        <span class="close-popup">&times;</span>
        <p>{{error}}</p>
    </div>
</div>
{{/if}}
<form action="/login" method="POST">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo Electronico" required>
        <label for="correo">Correo Electrónico*</label>
    </div>

    <div class="form-floating" style="display: flex">
        <input type="password" class="form-control" id="contrasenia" name="contrasenia" placeholder="Contraseña"
               required content="botonOjo">
        <label for="contrasenia">Contraseña*</label>

    </div>

    <div id="botonIniciarSesion" class="form-floating">
        <input class="botonPrincipal" type="submit" value="Iniciar Sesion">
    </div>

    <div id="registrarse">¿No tenés una cuenta? <span><a href="/registro"> Registrate acá</a></span></div>
</form>

</body>
<script>
    // Obtener el popup y el botón de cierre
    var popup = document.querySelector('.popup');
    var closeButton = document.querySelector('.close-popup');

    // Cuando el usuario haga clic en el botón de cierre
    closeButton.onclick = function() {
        popup.style.display = 'none'; // Ocultar el popup
    }

    // Mostrar el popup si hay un error
    if (popup) {
        popup.style.display = 'flex';
    }
</script>

</html>
